QTreeWidget {
    background-color: #ffffff;
    alternate-background-color: #f7f7f7;
    color: #000000;
    border: 1px solid #d0d0d0;
    outline: 0;
    font-family: "Segoe UI", sans-serif; /* Default font - will only be used for labels, numbers will be configured programmatically */
    font-size: 14px;
}

QTreeView::item {
    padding: 3px;
}

/* Hover effect */
QTreeView::item:hover {
    background-color: #cce8ff;
}

/* Selection effect */
QTreeView::item:selected {
    background-color: #cce8ff;
    color: #000000;
}